* {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-weight: bold;
}


#tabPane {
    -fx-tab-min-width: 150px;
    -fx-tab-min-height: 50px;
    -fx-focus-traversable: false;
    -fx-font-size: 15;
    -fx-font-family: "Tw Cen MT";
}

#tabPane .tab-header-area {
    -fx-padding: 10px; /* Adjust the padding as needed */
}

#tabPane .tab {
    -fx-padding: 0 0.550em; /* Add padding to the left and right sides of each tab */
    -fx-background-color: transparent; /* Make the background of the tab label transparent */
}

#tabPane .tab-header-area .headers-region {
    -fx-background-color: #31363F; /* set the background color of the headers region */
    -fx-border-color: #31363F; /* Set the border color of the headers region */
    -fx-border-width: 1px; /* Set the border width */
    -fx-border-radius: 5px; /* Set the border radius for rounded edges */
    -fx-background-radius: 5px; /* Set the background radius to match rounded edges */
}

#tabPane .tab-header-background  {
    -fx-background-color: #222831;
}

#tabPane .tab-label {
    -fx-text-fill: #EEEEEE;
    -fx-alignment: center; /* Align the text in the center of each tab */
}

#tabPane .tab:hover .tab-label {
    -fx-background-color: #3f434b;
    -fx-text-fill: #7c818a;
    -fx-border-color: #3f434b;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 0 10px;
}

#tabPane .tab:selected .tab-label {
    -fx-background-color: #EEEEEE;
    -fx-text-fill: #31363F;
    -fx-border-color: #31363F;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 0 10px;
}

#clothingTypePane .tab-header-area,
#accLocPane .tab-header-area {
    -fx-padding: 0px 10px 10px 10px;
}

#clothingTypePane,
#accLocPane {
    -fx-tab-min-width: 130px;
    -fx-tab-min-height: 30px;
    -fx-focus-traversable: false;
    -fx-font-size: 15;
    -fx-font-family: "Tw Cen MT";
}

#clothingTypePane .tab-header-background,
#accLocPane .tab-header-background {
    -fx-background-color: #222831;
}

#clothingTypePane .tab-label,
#accLocPane .tab-label {
    -fx-text-fill: #EEEEEE;
    -fx-alignment: center; /* Align the text in the center of each tab */
}

#clothingTypePane .tab-header-area .headers-region,
#accLocPane .tab-header-area .headers-region {
    -fx-background-color: #76ABAE; /* Make the background of the headers region transparent */
    -fx-border-color: #76ABAE; /* Set the border color of the headers region */
    -fx-border-width: 1px; /* Set the border width */
    -fx-border-radius: 5px; /* Set the border radius for rounded edges */
    -fx-background-radius: 5px; /* Set the background radius to match rounded edges */
}

#footwearTab .tab-header-area .headers-region {
    -fx-background-color: #222831; /* Make the background of the headers region transparent */
    -fx-border-color: #222831; /* Set the border color of the headers region */
    -fx-border-width: 0px; /* Set the border width */
    -fx-border-radius: 0px; /* Set the border radius for rounded edges */
    -fx-background-radius: 0px; /* Set the background radius to match rounded edges */
}

#footwearTab .tab:selected .tab-label {
    -fx-background-color: #222831;
    -fx-border-color: #222831;
    -fx-text-fill: #EEEEEE;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 0 10px;
}

#footwearTab .tab-label {
    -fx-text-fill: #EEEEEE;
}

#footwearTab .tab-header-area {
    -fx-padding: 0px 10px 0.96em 10px;
}


#clothingTypePane .tab:hover .tab-label,
#accLocPane .tab:hover .tab-label {
    -fx-background-color: #c8dbdc;
    -fx-text-fill: #97c2c4;
    -fx-border-color: #97c2c4;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 0 10px;
}

#clothingTypePane .tab:selected .tab-label,
#accLocPane .tab:selected .tab-label {
    -fx-background-color: #EEEEEE;
    -fx-text-fill: #76ABAE;
    -fx-border-color: #76ABAE;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 0 10px;
}

.button {
    -fx-background-color: #76ABAE;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.button:hover {
    -fx-background-color: #70a3a6;
}

#paneInfo {
    -fx-background-color: #B3C8CF;
}

#lblInfo {
    -fx-text-fill: #EEEEEE;
    -fx-font-family: "Tw Cen MT";
    -fx-font-size: 40px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-background-color: #222831;
    -fx-padding: 0 5px;
    -fx-alignment: center;
}

#paneShirt {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-background-color: #EEEEEE;
}

#btnInfoClose {
    -fx-background-color: #31363F;
    -fx-text-fill: #EEEEEE;
}

#btnInfoClose:hover {
    -fx-background-color: #2b3038;
    -fx-text-fill: #c5c5c5;
}

#paneItem {
    -fx-background-color: #EEEEEE;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#wardrobePane {
    -fx-background-color: #4F4A45;
}

#footInfoPane {
    -fx-background-color: #B3C8CF;
}

#btnClose {
    -fx-background-color: #6c5f5b;
    -fx-text-fill: #EEEEEE;
}

#btnClose:hover {
    -fx-background-color: #605652;
    -fx-text-fill: #c9c9c9;
}

#btnConfirm,
#outfitConfirm {
    -fx-background-color: #A1C398;
    -fx-text-fill: #EEEEEE;
}

#btnConfirm:hover,
#outfitConfirm:hover {
    -fx-background-color: #8ead86;
    -fx-text-fill: #c4c4c4;
}

#btnSetImage {
    -fx-background-color: #EEEEEE;
    -fx-text-fill: #31363F;
}

#btnSetImage:hover {
    -fx-background-color: #d3d3d3;
    -fx-text-fill: #2c3038;
}

#footImage {
    -fx-background-color: #EEEEEE;
}

#getInfoPane,
#showInfoPane {
    -fx-background-color: #4F4A45;
}

#btnAddFoot {
    -fx-background-color: #222831;
    -fx-text-fill: #EEEEEE;
}

#btnAddFoot:hover {
    -fx-background-color: #1c2028;
}

#footWearTab .button {
    -fx-background-color: #8d8d8d;
}

#imagePane {
    -fx-background-color: #6c5f5b;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#btnRemove,
#backButton {
    -fx-background-color: #FA7070;
    -fx-text-fill: #EEEEEE;
}

#btnRemove:hover,
#backButton:hover {
    -fx-background-color: #e76464;
    -fx-text-fill: #dedddd;
}

.scroll-bar > .track {
    -fx-background-color: #B4B4B8; /* Track color */
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
}

.scroll-bar > .thumb {
    -fx-background-color: #98989a;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-background-color: #B4B4B8;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
}

/* ScrollBar Mouse Hover */
.scroll-bar > .thumb:hover {
    -fx-background-color: #8d8d8f; /* Thumb color on hover */
}

/* ScrollBar Mouse Pressed */
.scroll-bar > .thumb:pressed {
    -fx-background-color: #818183; /* Thumb color when pressed */
}

#wardrobeCover {
    -fx-background-color: #6c5f5b;
    -fx-border-raidus: 5px;
    -fx-background-radius: 5px;
}

#wardrobeCover:hover {
    -fx-background-color: #645854;
}

#titleLabel {
    -fx-background-color: #4F4A45;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-padding: 8px;
}

#infoLabel {
    -fx-background-color: #EEEEEE;
    -fx-text-fill: #31363F;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

#genderSelectionPane {
    -fx-background-color: #222831;
}

#btnGender {
    -fx-background-color: #31363F;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#btnGender:hover {
    -fx-background-color: #2c3038;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-translate-y: -5px;
}

#btnOutfit {
    -fx-background-color: #31363F;
}

#btnOutfit:hover {
    -fx-background-color: #2c3038;
    -fx-translate-y: -5px;
}

#outfitCreationPane {
    -fx-background-color: #EEEEEE;
}

#addOutfitPane {
    -fx-background-color: #31363F;
}

#btnAddItem {
    -fx-background-color: #222831;
    -fx-text-fill: #EEEEEE ;
}

#btnAddItem:hover {
    -fx-background-color: #1d222a;
    -fx-text-fill: #c5c5c5;
    -fx-translate-y: -5px;
}

#showOuts {
    -fx-background-color: #6c5f5b;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

#backItems {
    -fx-background-color: #4F4A45;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

#itemsBackPane,
#itemsScrollPane {
    -fx-background-color: #31363F;
}

#outfitsPane {
    -fx-background-color: #222831;
}

#labelCover {
    -fx-font-size: 15;
}


#pickItemPane,
#pickItemScrollPane {
    -fx-background-color: #4F4A45;
}

#gridPickItem {
    -fx-background-color: #6c5f5b;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

#pickItemMainPane{
    -fx-background-color: #4F4A45;
    -fx-background-radius: 5px 5px 0px 0px;
    -fx-border-radius: 5px 5px 0px 0px;
}

#pickItemMainPane .button,
#backItems .button {
    -fx-background-color: #7a6c67;
}

#pickItemMainPane #backButton {
    -fx-background-color: #FA7070;
    -fx-text-fill: #EEEEEE;
}

#pickItemMainPane #backButton:hover {
    -fx-background-color: #e76464;
    -fx-text-fill: #dedddd;
}

#removeInfoItem {
    -fx-background-color: #222831;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

#removeItemLabel {
    -fx-background-color: #31363F;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 2px;
}

#chooseWardrobeSpace {
    -fx-background-color: #222831;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#wardrobeOption {
    -fx-background-color: #6c5f5b;
    -fx-text-fill: #4F4A45;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
}

#wardrobeOption:hover {
    -fx-background-color: #645955;
    -fx-translate-y: -3px;
}

#btnBackOption {
    -fx-background-color: #FA7070;
    -fx-text-fill: #EEEEEE;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

#btnBackOption:hover {
    -fx-background-color: #e76464;
    -fx-text-fill: #dedddd;
}

#showOutfitItems,
#showBackItems,
#showItemsBackPane {
    -fx-background-color: #4F4A45;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

#showBackItems .button {
    -fx-background-color: #7a6c67;
}

#btnBackShowScroll {
    -fx-background-color: #6c5f5b;
    -fx-text-fill: #4F4A45;
    -fx-font-size: 10;
}

#btnBackShowScroll:hover {
    -fx-background-color: #655956;
    -fx-text-fill: #494541;
}

#showInfoPane {
    -fx-background-color: #31363F;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#showInfoPane .button {
    -fx-text-fill: #31363F;
    -fx-background-color: #EEEEEE;
}




